footer {
  background: url('../img/art.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 40px;
  text-transform: uppercase;
}
